* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    padding: 10px;
    background: #f1f1f1;
  }
  
  input[type=text]{
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .footer-contact{
    color:white;
    height: 80px;
    background-color: #333;
    margin-top: 15%;
  }

  #contact{
    width: 20%;
    margin-left: -10px;
    list-style-type: disclosure-closed
  }

  #me{
    border-radius: 40px;
    height: 260px;
  }

  .general {
    display: flex;
  }

  .portfolio{
    display: flex; 
    margin-top: 75px; 
    justify-content: space-around;
    margin-left: -36px;
  }

  #name {
    position: absolute;
    top:20%;
    left:20%
  }

  #mail {
    position: absolute;
    top:30%;
    left:20%
  }

  #message {
    position: absolute;
    top:40%;
    left:20%
  }

  .photo:hover {
    transform: scale(3);
    border: 2px solid black;
  }
  .photo1:hover {
    transform: scale(1.5);
    border: 2px solid black;
  }
  .photo1 {
    margin-left: 29px;
    border: 2px solid black;
  }
  .photo {
    margin-top: 71px;
    margin-left: 36px;
    margin-bottom: 30px;
  }

  #click {
    width: 30px;
    height: 25px;
    position: absolute;
    top: 90%;
    left: 42%;
    border-radius: 46px;
  }
  #click:hover {
    background-color:green;
  }

  #general {
    background-color: #1c2c3a;
    color: white;
    width: 50%;
  }

  h4{
    color: white;
  }

  .about {
  background-color: #1c2c3a;
  color: white;
  display: flex;
  width: 100%;
  }

  p{
    color: white;
    margin-left: 9px;
    font-size: 13px;
  }

  .desc{
    color: white;
    margin-left: 9px;
    font-size: 13px;
  }

  #trivia {
    background-color: #1c2c3a;
    color: white;
    width: 50%;
  }

  .footer{
    color:white;
    height: 80px;
    background-color: #333;
  }
  .footer-project{
    color:white;
    height: 80px;
    background-color: #333;
    margin-top: 107%;
  }
  .footer-me{
    color:white;
    height: 80px;
    background-color: #333;
    margin-top: 0%;
    display: flex; 
    justify-content: space-around
  }

  .icon{
    width: 50px;
    height: 50px;
    margin-top: 13px;
 
  }
  .icon:hover{
    transform: scale(1.5);
  }
  .pic:hover{
    filter: blur(3px);
  }

  .picture:hover{
    transform: scale(1.8);
  }

  #btn-me {
    height: 50px;
    width: 50%;
    background-color: #051d31;
    color: white;
  }

  #btn-about {
    height: 50px;
    width: 100%;
    background-color: #051d31;
    color: white;
  }

  #btn-me:hover {
    background-color: rgb(0, 81, 128);
  }
  #btn-trivia {
    height: 50px;
    width: 50%;
    background-color: #051d31;
    color: white;
  }

  #btn-trivia:hover {
    background-color:rgb(0, 81, 128);
  }

  h2 {
    position: absolute;
    top: -5%;
    left: 93%;
    transform: translate(-70%, -85%);
    font-size: 20px;
    color: white;
  }

  .grid-container {
    display: grid;
    background-color: #3092ab;
    height: 340px;
    grid-template-columns: auto auto auto;
    font-size: 15px;
  }

  .web {
    filter: blur(4px);
    position: relative;
    opacity: 0.6
  }


  .github {
    position: absolute;
    width: 20%;
    left: 40%;
    top: 25%;
  }

  .github:hover{
    transform: scale(1.2);
  }

  .container{
    position: relative;
  }

  h3{
  text-align: center;
  }

  .header h1 {
    font-size: 50px;
    text-align: center;
  }
  
  .topnav {
    overflow: hidden;
    display: flex;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  @media (min-width: 481px) and (max-width: 767px) {
    .topnav a {
      float: none;
      width: 100%;
    }
    .photo:hover {
      transform: scale(2);
      border: 2px solid black;
    }
    #me{
      border-radius: 40px;
      height: 260px;
    }
    .box{
      height: 60px;
    }
    .container{
      position: relative;
    }
    .footer{
      color:white;
      height: 80px;
      margin-top: 107%;
    }
    .technology {
      display: flex;
      background-color: #3092ab;
      justify-content: space-around;
      height: 340px;
    }
  
  }