* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    padding: 10px;
    background: #f1f1f1;
  }


  .box{
    max-width: 1920px;
  }


  .last-box {
    display: flex;
    background-color: #3092ab;
    flex-direction: column;
    max-width: 640px;
    width: 100vh;
    min-height: 200px;
}

  .container {
    max-width: 1920px;
    width: 100%;
    min-height: 152px;
}

  .container-contact {
   max-width: 1920px;
   width: 100%;
   display: flex;
   min-height: 152px;
}

.contact-bar{
    text-align: center;
    border-radius: 6px;
    color: black;
    border: 2px solid black;
    margin-top: 200px;
  }

  .contact-bar:hover{
    background-color: blue;
    color:white
  }
  
  input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .footer-contact{
    color:white;
    height: 80px;
    position: relative;
    background-color: #333;
    margin-top: 15%;
  }


  .image-box {
    width: 100%;
    height: 100%;
    min-width: 90vh;
    max-height: 90vh;
}

  #contact{
    width: 20%;
    margin-left: -10px;
    list-style-type: disclosure-closed
  }

  #me {
    border-radius: 40px;
    height: 260px;
    width: 100%;
    max-width: 113vh;
    min-height: 67vh;
}

  .general {
    display: flex;
  }

  .portfolio{
    display: flex; 
    margin-top: 75px; 
    justify-content: space-around;
    margin-left: -36px;
  }

  .photo1:hover {
    transform: scale(1.5);
    border: 2px solid black;
  }

  .photo1 {
    margin-left: 29px;
    border: 2px solid black;
  }

  .phone {
    margin-top: 2px;
    margin-left: -2px;
    margin-bottom: 30px;
}

  #click {
    width: 30px;
    height: 25px;
    position: absolute;
    top: 84%;
    left: 42%;
    border-radius: 46px;
  }
  #click:hover {
    background-color:green;
  }

  #general {
    background-color: #1c2c3a;
    color: white;
    width: 50%;
  }

  .image-box{
      width: 100%;
      height: 100%;
      min-width: 90vh;
  }

  h4{
    color: white;
  }

  .about {
    background-color: #1c2c3a;
    color: white;
    display: flex;
    width: 100%;
    min-height: 68vh;
}

  .box-description {
    max-width: 90vh;
    max-height: 100vh;
    padding-left: 20px;
  }

  p{
    color: white;
    font-size: 13px;
  }

  .desc{
    color: white;
    font-size: 22px;
  }
  
  #contact>::marker{
    color:rgb(36, 184, 36)
  }

  #trivia {
    background-color: #1c2c3a;
    color: white;
    width: 50%;
  }

  
    .footer {
      color: white;
      min-height: 77px;
      max-width: 1920px;
      background-color: #333;
  }

  .footer:hover{
    background-color: white;
  }

  .footer-project{
    color:white;
    height: 80px;
    background-color: #333;
    margin-top: 62%;
  }

  @keyframes slideDown {
    0% { left: 0; top: 0;}
    25% { left: 0; top: 80px;}
  }

  .windows {
    position: relative;
    display: flex;
    margin-top: 92px;
    animation: slideDown 4s;
    justify-content: space-around;
  }
  .footer-me{
    color:white;
    height: 80px;
    background-color: #333;
    margin-top: 0%;
    display: flex; 
    justify-content: space-around
  }

  .icon{
    width: 50px;
    height: 50px;
    margin-top: 13px;
 
  }
  .icon:hover{
    transform: scale(1.5);
  }
  .pic:hover{
    filter: blur(3px);
  }

  .picture:hover{
    transform: scale(1.8);
  }

  #btn-me {
    height: 50px;
    width: 50%;
    background-color: #051d31;
    color: white;
  }

  #btn-about {
    height: 50px;
    width: 100%;
    background-color: #051d31;
    color: white;
  }

  #btn-me:hover {
    background-color: rgb(0, 81, 128);
  }
  #btn-trivia {
    height: 50px;
    width: 50%;
    background-color: #051d31;
    color: white;
  }

  #btn-trivia:hover {
    background-color:rgb(0, 81, 128);
  }

  h2 {
    position: absolute;
    top: -5%;
    left: 93%;
    transform: translate(-70%, -85%);
    font-size: 20px;
    color: white;
  }
  .laptop {
    width: 200px;
    height: 200px;
    position: absolute;
    bottom: 6px;
}


@keyframes mymove {
  from {position:absolute;left: -99999px;}
  to {position:absolute;left: 20px;}
}

  .flex-parent{
    max-width: 1920px;
    display: flex;
    animation-name:mymove; 
    animation-duration:3s;
    min-height: 200px;
}


  .laptop:hover{
    transform: scale(1.3);
}

.flex-container {
  display: flex;
  flex-direction: column;
  background-color: #3092ab;
  max-width: 640px;
  width: 100vh;
  min-height: 200px;
}

.flex-container-second {
  display: flex;
  background-color: #3092ab;
  flex-direction: column;
  width: 100vh;
  min-height: 200px;
  max-width: 640px;
}

  .logo {
    position: absolute;
    z-index: 1;
    list-style-type: none;
    color: white;
    margin-left: 23px;
    font-size: 20px;
    padding-top: 12px;
}

.logo:hover{
  color:limegreen
}
  
.web {
  filter: blur(4px);
  position: relative;
  opacity: 0.6;
  max-width: 1920px;
}

  .github {
    position: absolute;
    width: 20%;
    left: 40%;
    top: 46%;
  }

  .github:hover{
    transform: scale(1.2);
  }

  .container{
    position: relative;
  }

  h3{
  text-align: center;
  }

  .header h1 {
    font-size: 50px;
    text-align: center;
  }


  .flex-box{
    text-align: center;
  }

  .flex-box-end{
    text-align: center;
  }
  
  .topnav {
    display: flex;
    position: relative;
    max-width: 1920px;
    padding-left: 57%;
    justify-content: space-around;
    padding-top: 14px;
    min-height: 6vh;
    background-color: #333;
}

  .topnav a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
  }
  
  .topnav a:hover {
    color:limegreen;
  }

  